html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1rem;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

//Flexbox Styles
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

button,
.button {
    padding: 0.9375rem 2rem;
    background-color: $brightRed;
    border-radius: 50px;
    border: 0;
    font-weight: 700;
}

//Visibility (Responsive)

.hide-for-mobile {
    @include breakpoint-down (medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up (large) {
        display: none;
    }
}   